<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @antibiotic_class.class_name %>
</p>

<%= link_to 'Edit', edit_antibiotic_class_path(@antibiotic_class) %> |
<%= link_to 'Back', antibiotic_classes_path %>
