<p id="notice"><%= notice %></p>

<h1>Frequencies</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @frequencies.each do |frequency| %>
      <tr>
        <td><%= frequency.id %></td>
        <td><%= frequency.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
