<p id="notice"><%= notice %></p>

<h1>Severities</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @severities.each do |severity| %>
      <tr>
        <td><%= severity.id %></td>
        <td><%= severity.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
